body{
    overflow-x: hidden;
}
.head{
    width: 100%;
    height: fit-content;
    background: rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    z-index:2;
 
}
.image{
    width: 100px;
}
.sections{
    display: flex;
    gap: 1.5rem;
    margin-right: 6rem;
    margin-left: 20rem;
}
.sections a{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}
.sections a:hover {
    background: linear-gradient(90deg,
            #ffd700,
            #ffb347,
            #ff7f50);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 0 0 8px rgba(255, 200, 120, 0.6),
        0 0 15px rgba(255, 150, 80, 0.4);

    transform: translateY(-2px);
}

.logo{
    height: 3rem;
    display: flex;
    width: 3rem;
    justify-content: center;
    align-items: center;
}
img{
    background: none;
    height: 4rem;
    width: 4rem;
    /* margin-right: 20rem; */
    margin-top: 0.5rem;
}
@media (max-width:350px){
    .head{
        width: 100%;
        height: fit-content;
        background: rgba(255, 255, 255, 0.15);
        display: flex;
        flex-direction: column;
        z-index:2;
     
    }
    .sections{
        display: flex;
        gap: 10px;
        margin: 0px 5px 0px 0px;
        font-size:x-small;
    }
    .sections a{
        color: white;
        font-size: 0.8rem;
        font-weight: 500;
    }
    .sections a:hover{
        color: var(--color-primary);
    }
}
@media (min-width:350px) and (max-width:500px) {
    
    .head{
        width: 100%;
        height: fit-content;
        background: rgba(255, 255, 255, 0.15);
        display: flex;
        flex-direction: column;
        padding: 0;
        padding-bottom: 1rem;
        z-index:2;
     
    }
    .sections{
        display: flex;
        gap:0.5rem;
        font-size:x-small;
        align-items: flex-start;
        margin: 0;
        width: 90vw;
        padding-left: 1rem;
    }
    .sections a{
        color: white;
        font-size: 0.9rem;
        font-weight: 500;
    }
    .sections a:hover{
        color: var(--color-primary);
    }
}
html {
    scroll-behavior: smooth;
}

.sections a {
    transition: all 0.3s ease;
}

.sections a:hover {
    transform: translateY(-2px);
}

.sections a.active {
    transition: all 0.3s ease;
}