#admin-page h1{
    margin-top: 4rem;
    text-align: center;
}
.search{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;

}
.search input{
    height: 2rem;
    width: 17rem;
    border-radius: 5px;
    padding: 0px 2px 0px 10px;
}
.search button{
    height: 2rem;
    padding: 2px;
    width: 5rem;
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 5px;
}
.student-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
#events h2 {
  text-align: center;
  padding-top: 5rem;
  font-size: 2rem;
}

.event-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-form input,
.event-form button {
  margin: 1rem 2rem;
  padding: 5px 10px;
  border-radius: 10px;
  height: 30px;
  width: 250px;
}

table {
  width: 70%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  color: white;
  text-align: center;
}

th {
  background-color: white;
  color: black;
}



