#events h2 {
  text-align: center;
  padding-top: 5rem;
  font-size: 2rem;
}
.events-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  gap: 4rem;
  padding: 2rem;
}
.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 26rem;
  text-align: center;
  border-radius: 1rem;
  /* background-color: var(--color-primary); */
  border: 1px solid var(--color-primary);
  transition: all 0.3s ease-in-out;
}
/* .event:hover {
  translate: -10px -10px;
  box-shadow: 10px 10px 0 var(--color-primary);
} */
.hidden {
  display: none;
}
.event-form,
.event-descp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28rem;
  text-align: center;
}
.event-image img {
  width: 20rem;
  height: 12rem;
  /* object-fit: cover; */
  margin: 2rem 2rem 0rem 2rem;
  border-radius: 0.7rem;
}
.event-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.event-info > h1 {
  text-align: left;
  margin-bottom: 0.5rem;
  width: 100%;
  font-weight: 400;
  font-size: 1.5rem;
}
.event-info > p {
  text-align: left;
  width: 20rem;
  margin-bottom: 1rem;
  font-weight: 200;
  font-size: 0.8rem;
}
.btn {
  margin: 1rem 1rem 1rem 0;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: var(--color-bg);
  font-size: 1rem;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid var(--color-primary);
}
.btn:hover {
  background-color: var(--color-bg);
  border: 2px solid white;
  font-weight: bold;
  color: white;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  color: black;
  font-weight: 300;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.buttons {
  display: flex;
  align-items: space-between;
  width: 100%;
  margin-bottom: 0.3 rem;
}
@media (max-width:500px) {
  #events h2 {
    text-align: center;
    padding-top: 5rem;
    font-size: 2rem;
  }
  .events-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    gap: 4rem;
    padding: 2rem;
  }
  .event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18rem;
    text-align: center;
    border-radius: 1rem;
    /* background-color: var(--color-primary); */
    border: 1px solid var(--color-primary);
    transition: all 0.3s ease-in-out;
  }
  /* .event:hover {
    translate: -10px -10px;
    box-shadow: 10px 10px 0 var(--color-primary);
  } */
  .hidden {
    display: none;
  }
  .event-form,
  .event-descp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    text-align: center;
  }
  .event-image img {
    width: 15rem;
    height: 15rem;
    /* display: none; */
    /* object-fit: cover; */
    margin: 2rem 2rem 0rem 2rem;
    border-radius: 0.7rem;
  }
  .event-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
  }
  .event-info > h1 {
    text-align: center;
    margin-bottom: 0.5rem;
    width: 100%;
    font-weight: 400;
    font-size: 1.2rem;
  }
  .event-info > p {
    text-align: justify;
    width: 12rem;
    margin-bottom: 1rem;
    font-weight: 200;
    font-size: 0.8rem;
  }
  .btn {
    /* margin: 1rem 1rem 1rem 0; */
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: var(--color-bg);
    font-size: 1rem;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid var(--color-primary);
  }
  .btn:hover {
    background-color: var(--color-bg);
    border: 2px solid white;
    font-weight: bold;
    color: white;
  }
  .modal {
    position: fixed;
    top: 20rem;
    left: 0;
    width: 10rem;
    height: 9rem;
    margin-left: 2rem;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    /* padding: 20px; */
    margin-left: 5rem;
    width: 15rem;
    border-radius: 10px;
    color: black;
    font-weight: 300;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: black;
  }
  
  .buttons {
    display: flex;
    align-items: space-between;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.3 rem;
  }
  .event-image1{
    display: none;
  }
}